* {
  margin: 0;
  padding: 0;
}
#sanjiao {
  border-width: 50px;
  border-color: transparent #ffc0cb transparent transparent;
  border-style: dashed solid dashed dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
